*.iws
*.iml
.idea/
out/
resources/
mets_mongo_mapper/target/
mets_mongo_mapper/src/test/
mets_mongo_mapper/*.iml
mets_mongo_mapper/src/main/resources/rebel.xml
rest_interface/lib/
rest_interface/src/test/
rest_interface/target/
rest_interface/*.iml
tei_mongo_mapper/src/test/
tei_mongo_mapper/target/
tei_mongo_mapper/*.iml
sandbox/
.DS_Store
atlassian-ide-plugin.xml
common/target/
client/target/
tmp/